.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20.5%;

  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20.5%;
  margin: auto 340px;
  position: absolute;
 align-content: top;
margin-bottom: 50%;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  padding: 2px 16px;
} 
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20.5%;
  margin-left: 690px ;
  position: absolute;
 align-content: center;

 
}

.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container3 {
  padding: 2px 16px;
}
/*
#allcards{
  display:flex;
}*/