.div1{
    text-align: center;
    
    color: rgb(253, 253, 253);
   margin-top: 250px;
   
   background-color: rgb(8, 96, 126);
   padding: 70px;
   opacity: 0.9;
   
}

body{
    background-image: url(../img/img2.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.DH{
width: 100%;
height: 100%;
position: absolute;
background: linear-gradient(90deg, rgb(6, 1, 109) 0%, rgba(7, 7, 116, 0.605) 60%, rgb(2, 29, 34) 100%);
top: 0;
left: 0;
}

